*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 90.5%;
    box-sizing: border-box;
 }

body
{
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100vh;
    position: relative;
    text-align: center;
    background: linear-gradient(to left, #ffa052, #fd6933);
}

h1
{
    margin-top: 3%;
    font-size: 4.5rem;
    color: rgb(254, 255, 208);
    margin-bottom: 2rem;
}

p
{
    font-size: 2.2rem;
}

a
{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;
}

a.heading
{
    color: rgb(254, 255, 208);
    text-decoration: none;
    font-size: 24px;
}

button a
{
    color: #333;
}

input[type = text]
{
    padding: 1%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: larger;
    background-color: rgb(248, 243, 199);
    border: 1px solid black;
    width: 100%;
    border-radius: 15px;
}

input[type = file]
{
    padding: 1%;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: larger;
    background-color: rgb(248, 243, 199);
    border: 1px solid black;
    width: 100%;
    border-radius: 15px;
}

input[type = submit]
{
    padding: 1%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
    color: #333;
    text-align: center;
    font-size: large;
    background-color: rgb(248, 243, 199);
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
    cursor: pointer;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: stretch;
    border-bottom: 2px solid black;
    margin-bottom: 5%;
    border-radius: 10px;
    background: linear-gradient(to top left, #31220f, #6A492B);
}

.element
{
    font-size: x-large;
    margin: auto;
}

.box
{
    width: 65%;
    margin: auto;
    border-radius: 30px;
    padding: 1%;
    background: linear-gradient(to top left, #ff9f51, #ffd49b);
    margin-bottom: 2%;
    box-shadow: 10px 5px 5px rgb(71, 71, 71);
}

.input_btn
{
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 1%;
    margin: 3%;
    background: linear-gradient(to top left, #ffffff, #f59338);
    box-shadow: 10px 5px 5px rgb(71, 71, 71);
}

.input_btn :hover
{
    color: black;
}