<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>File Input</title>
</head>
<body>

    <h1>File Input Balanced Parenthesis Check</h1>
    <section>
    <h3>This page will allow user to upload a file and check for balanced parenthesis</h3>
    <h6>Supported file types include</h6>
        <p>.txt .py .doc .js .html .java .php .c</p>
    </section>

    <form action="/display" method = "POST" enctype = "multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if filename != "" %}
        <a>Filename: {{ filename }}</a>
    {% endif %}

    <br>
    {% if content[0] != 'P' %}
        <a>Balanced: {{ content }}</a>
    {% else %}
        <a>{{ content }}</a>
    {% endif %}

    <br>
    <button> <a href="{{ url_for('home') }}">Home</a></button>
</body>
</html>