<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parenthesis Validator</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}

</head>

{% block body %}

<body>
    <header>
        <nav class="navbar">
            <div class="element">
                <a class="heading" href="/">Home</a>
            </div>
            <div>
                <h1>
                    Parenthesis Validator for Strings
                </h1>
            </div>
            <div class="element">
                <a class="heading" href="About Us">About Us</a>
            </div>
        </nav>
    </header>

    <section class="box">
        <p>
            Select any .cpp, .c, .py, .json, .txt, .html, .css, .js, Dockerfile, .yaml File
        </p>
        <br>
        <form action="/display" method = "POST" enctype = "multipart/form-data" class="user_input">
            <input type="file" name="file" placeholder="Select The File You Want To Check">
            <br>
            <input type="submit" value="Upload">
        </form>

        {% if filename != "" %}
        <a>Filename: {{ filename }}</a>
    {% endif %}

    <br>
    {% if content[0] != 'P' %}
        <a>Balanced: {{ content }}</a>
    {% else %}
        <a>{{ content }}</a>
    {% endif %}

    </section>
</body>

{% endblock %}

</html>