<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parenthesis Validator</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="element">
        <a class="heading" href="/">Home</a>
      </div>
      <div>
        <h1>
          Parenthesis Validator
        </h1>
      </div>
      <div class="element">
        <a class="heading" href="About Us">About Us</a>
      </div>
    </nav>
  </header>

  <section>
    <p class="box">
      This is free to use online app for checking all types of text files for Parenthesis Balance.
      We are a team of 3 people from 3 different countries, we are currently working on improving this app and public access.
    </p>
    <button class="input_btn"><a href="{{ url_for('string') }}">Check For A String</a></button>
    <button class="input_btn"><a href="{{ url_for('file') }}">Check For A File</a></button>
  </section>
</body>
</html>