<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parenthesis Validator</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
      <h1>
        Parenthesis Validator
      </h1>
      <p>
        This is free to use online app for checking all types of text files for Parenthesis Balance. 
        We are a team of 3 people from 3 different countries, we are currently working on improving this app and public access.
      </p>
      <section>
        <button><a href="{{ url_for('string') }}">Check For A String</a></button>
        <button><a href="{{ url_for('file') }}">Check For A File</a></button>
      </section>
    </header>
</body>
</html>

<!--
    <strong><nav>
              <ul class="menu">
                <ul><a href="{{ url_for('string') }}">String Check</a></ul>
                <ul><a href="{{ url_for('file') }}">File Check</a></ul>
              </ul>
            </nav></strong>
-->