<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parenthesis Validator</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <header>
        <div class="container">
            <h1 class="header">ParenthesisValidator</h1>
            <strong><nav>
              <ul class="menu">
                <ul><a href="{{ url_for('string') }}">String Check</a></ul>
                <ul><a href="{{ url_for('file') }}">File Check</a></ul>
              </ul>
            </nav></strong>
        </div>
    </header>
</body>
</html>
