<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String Input</title>
    {% block head %}{% endblock %}
</head>

{% block body %}
<body>
    <h1>String Input Balanced Parenthesis Check</h1>
    <a>This page will allow user to input a string and check for balanced parenthesis</a>
    <br>
    <form method="POST">
        <input name="content" id="content" type="text">
        <input type="submit" value="check">
    </form>
    <br>
    <table >
        <tr>
            <th>String</th>
            <th>Balanced</th>
        <tr>

    <!-- Python code must follow syntax { % python code here % } and contain a endblock seen below-->
    {% for string in string %}
        <tr>
            <td>{{  string.content }}</td>
            <td>boolean representing return status of algorithm</td>
        </tr>
    {% endfor %}
    </table>
</body>
{% endblock %}
</html>