<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String Input</title>
    {% block head %}{% endblock %}
</head>

{% block body %}

<body>
    <h1>Parenthesis Check for String Input</h1>
    <a>This page will allow user to input a string and check for balanced parenthesis.</a>
    <br>
    <a>Enter string below.</a>
    <form method="POST">
        <input name="content" id="content" type="text">
        <input type="submit" value="check">
    </form>
    <br>

    <table >
        <tr>
            <th>String</th>
            <th>Balanced</th>
        <tr>

    <!-- Python code must follow syntax below and contain a endblock seen below-->
         {% for string in string %}
            <tr>
                <td>{{  string.content }}</td>
                <td>{{ string.outcome }}</td>
            </tr>
        {% endfor %}
    </table>

</body>

{% endblock %}
</html>
