<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String Input</title>
    <link rel="stylesheet" href="../static/css/main.css">n
    {% block head %}{% endblock %}
</head>

{% block body %}

<body>
    <h1>Parenthesis Validator for String Input</h1>
    <a>This page will allow user to input a string and check for balanced parenthesis.</a>
    <br>
    <a>Enter string below.</a>
    <form method="POST">
        <input name="content" id="content" type="text">
        <input type="submit" value="check">
    </form>
    <br>

    {% for string in string %}
        <a>String:</a>
        <a>{{ string.content }}</a>
        <br>
        <Outcome>Balanced:</Outcome>
        <a>{{ string.isBalanced }}</a>
    {% endfor %}

</body>

{% endblock %}
</html>
